* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(89, 89, 128);
}

img {
    width: 25%;
}

h1 {
    text-align: center;
    padding: 20px;
    color: rgb(33, 128, 172);
    font-weight: bold;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    text-align: center;
    padding: 20px;
}

.First {
    display: flex;
    margin-left: 76px;
}

td {
    margin: 10px;
}
